<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="container-fluid">
  <div id="content">
    <div id="alert">
      <% unless notice.blank? %>
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p id="notice"><%= notice %></p>
          </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
</div>


<% content_for :top do%>
    <div class="container-fluid">
      <p class = "navbar-text" style="font-size: 2.2rem;">Angemeldet als: <%= @student.login %></p>
      <div>
        <form class="navbar-form navbar-left">
          <div class = "form-group" style="font-size: 2.2rem;">Anmeldecode per E-mail zusenden:</div>
          <div id="emailgroup" class="form-group">
            <input id="email" type="email" class="form-control" placeholder="E-Mail Adresse" style=" font-size: 2.2rem; height: 4.4rem;">
          </div>
          <input type="checkbox" class="form-check-input" id="emailCheck">
          <label class="form-check-label" for="exampleCheck1">E-Mail speichern</label>
          <button id="submit" type="submit" class="btn btn-default" style="font-size: 2.2rem;" onclick="sendMail();return false;">Absenden</button>
        </form>
      </div>
      <div class = "navbar-right" style="padding-right: 15px">
        <form class="navbar-form" method="post" action="<%=url_for(:controller => "frontend", :action => "logout")%>">
          <%= token_tag nil %>
          <button type="submit" class="btn btn-lg btn-info" style="font-size: 2.2rem;">Abmelden</button>
        </form>
      </div>
      <div class = "navbar-right" style="padding-right: 15px">
        <form class="navbar-form">
          <%= link_to 'Feedback', new_user_group_feedback_path(@user, @group), class:"btn btn-lg btn-info", style:"font-size: 2.2rem;"%>
        </form>
      </div>
    </div>
<% end %>

  <br/>
  <div>
    <h1 style="font-family: fibel_nordregular;">Die folgenden Tests stehen f端r dich zur Verf端gung:</h1>
    <br/>
    <div>
      <h1 style="font-size: 2.2rem">Die folgenden Tests stehen f端r dich zur Verf端gung:</h1>
      <br/>
      <% count = 0 %>
      <% if !@assessments.nil?%>
          <% assessment_size = @assessments.size%>
      <%else %>
          <%assessment_size=0%>
      <%end%>
      <%while count < assessment_size%>
          <% if(count % 3 == 0)%>
              <div class="row">
                <div class="col-lg-11">
                  <div class="row">
                    <div class='col-lg-3 col-md-offset-1' style="text-align: center;background-color:lavender">
                      <p style="font-size: 2.2rem;text-align: center" >
                        <%= link_to url_for(controller: 'frontend', action: 'start', id: @assessments[count].id) do%><img width="150vw" src=<%= @assessments[count].test.picture%>><% end %>
                        <br/>
                        <%= @assessments[count].test.name %>
                      </p>
                    </div>
          <%elsif count % 3 == 2%>
              <div class='col-lg-3 col-md-offset-1' style="text-align: center;background-color:lavender">
                <p style="font-size: 2.2rem;text-align: center" >
                  <%= link_to url_for(controller: 'frontend', action: 'start', id: @assessments[count].id) do%><img width="150vw" src=<%= @assessments[count].test.picture%>><% end %>
                  <br/>
                  <%= @assessments[count].test.name %>
                </p>
              </div>
              </div>
              </div>
              </div>
              <br/>
          <%else%>
              <div class='col-lg-3 col-md-offset-1' style="text-align: center;background-color:lavender">
                <p style="font-size: 2.2rem;text-align: center" >
                  <%= link_to url_for(controller: 'frontend', action: 'start', id: @assessments[count].id) do%><img width="150vw" src=<%= @assessments[count].test.picture%>><% end %>
                  <br/>
                  <%= @assessments[count].test.name %>
                  <br/>
                </p>
              </div>
          <%end%>
          <% count = count + 1%>
      <%end%>
      <%if !(assessment_size % 3 == 0)%>
          </div>
      <% end%>
      </div>

    <script>
        //possible Hack
        //=> Alternative: from login (welcome-view) until frontend Indexpage with window.location.replace();
        window.location.hash="no-back-button";
        window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
        window.onhashchange=function(){window.location.hash="no-back-button";}


        function sendMail() {
            $('#emailgroup').removeClass('has-error');
            $('#emailgroup').removeClass('has-success');
            $('#submit').removeClass('btn-danger');
            $('#submit').removeClass('btn-success');

            if ($('#email').is(':valid') && $('#email').val() != '') {
                $.ajax({url: '<%= user_group_student_path(@student.group.user,@student.group,@student, format: :text)%>' + '?email=' + $('#email').val()+  '/' + $('#emailCheck').prop( "checked" )});
                $('#submit').addClass('btn-success');
                $('#emailgroup').addClass('has-success');
                if(!$('#emailCheck').prop( "checked" )){
                    $('#email').val("")
                }
            }
            else {
                $('#submit').addClass('btn-danger');
                $('#emailgroup').addClass('has-error');
            }
        }

        $(document).ready(function(){
            setTimeout(function(){
                $('#alert').remove();
            }, 5000);
        })


    </script>