<%survey = Test.where(name:"BFI")%>
<%exists = @assessments.where(group_id:@student.group, test_id:survey).length%>

<%if exists!=0%>
    <%surveyLink = url_for(controller: 'frontend', action: 'start', id: @assessments.where(group_id:@student.group, test_id:survey).order(created_at: :desc).first.id)%>
<%end%>
<div class="container" style="width: auto; height: auto">
  <% content_for :top do%>
      <div class="container-fluid">
        <div>
          <p class="myP" style="float: left"><b title="Mit diesem Code kannst du dich erneut anmelden.">Angemeldet als: <%= @student.login %></b></p>
          <div align="right" style="padding-right: 15px">
            <%if exists==0||@student.survey_done||@assessments.where(group_id:@student.group, test_id:survey).first.nil?%>
                <form class="form-group confirm" method="post" action="<%=url_for(:controller => "frontend", :action => "logout")%>" >
                  <%= link_to 'Feedback', new_user_group_feedback_path(@user, @group), class:"btn btn-primary btnSpace", title: "Hierrüber kannst du uns deine Anmerkungen zusenden."%>
                  <%= token_tag nil %>
                  <button id ="logOutButton" type="submit" class="btn btn-warning btnSpace">Abmelden</button>
                </form>
            <%else%>
                <form class="form-group confirm" method="post" action="<%=url_for(:controller => "frontend", :action => "logout")%>" data-confirm="bla" >
                  <%= link_to surveyLink, class:"btn survey btnSpace", title: "Kurzer Fragebogen (Persönlichkeitstest)", id:"bfiButton" do%>Fragebogen<% end %>
                  <%= link_to 'Feedback', new_user_group_feedback_path(@user, @group), class:"btn btn-primary btnSpace", title: "Hierrüber kannst du uns deine Anmerkungen zusenden."%>
                  <%= token_tag nil %>
                  <button id ="logOutButton" type="submit" class="btn btn-warning btnSpace">Abmelden</button>
                </form>
            <%end%>
          </div>
        </div>
        <div>
          <form class="navbar-form navbar-left">
            <p class = "form-group">Anmeldecode per E-mail zusenden:</p>
            <div id="emailgroup" class="form-group">
              <input id="email" type="email" class="myInput" placeholder="E-Mail Adresse">
            </div>
            <input type="checkbox"  title="Speichern der E-Mail-Adresse, zum senden Studienbezogener Nachrichten an die Teilnehmer." class="form-check-input" id="emailCheck" style="height: 20px;width: 20px">
            <label class="form-check-label" for="exampleCheck1" title="Speichern der E-Mail-Adresse, zum senden Studienbezogener Nachrichten an die Teilnehmer.">E-Mail-Adresse speichern</label>
            <button id="submit" type="submit" class="btn btn-default"  onclick="sendMail();return false;">Absenden</button>
          </form>
        </div>
      </div>
  <% end %>

  <div>
    <h1>Die folgenden Tests stehen für dich zur Verfügung:</h1>
    <div>
      <% count = 0 %>
      <% tests = @assessments.where(group_id:@student.group).where.not(test_id:survey)%>
      <% if !tests.nil?%>
          <% assessment_size = tests.size%>
      <%else %>
          <%assessment_size=0%>
      <%end%>
      <div class="row">
        <div class="col-lg-11">
          <div class="row">
            <%while count < assessment_size%>
                <% if(count<3)%>
                    <div class='col-lg-3 col-md-4 col-lg-offset-1' style="text-align: center;">
                      <div class="myP" >
                        <%= link_to url_for(controller: 'frontend', action: 'start', id: tests[count].id) do%><img class="myImg" src=<%= tests[count].test.picture%>><% end %>
                        <br/>
                        <%= tests[count].test.name %>
                      </div>
                    </div>
                <%else%>
                    <div class='col-lg-3 col-md-4 col-lg-offset-1 secondColumn'>
                      <div class="myP">
                        <%= link_to url_for(controller: 'frontend', action: 'start', id: tests[count].id) do%><img class="myImg" src=<%= tests[count].test.picture%>><% end %>
                        <br/>
                        <%= tests[count].test.name %>
                        <br/>
                      </div>
                    </div>
                <%end%>
                <% count = count + 1%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" id="modalContent" style="font-size: 1.5em">
        </div>
        <div class="modal-footer">
          <button id="unconfirmButton" class="btn btn-warning" style="margin-right: 30px">Nein</button>
          <button id="confirmButton" class="btn btn-primary">Ja</button>
        </div>
      </div>
    </div>
  </div>
</div>

    <script>
        //possible Hack
        //=> Alternative: from login (welcome-view) until frontend Indexpage with window.location.replace();
        window.location.hash="no-back-button";
        window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
        window.onhashchange=function(){window.location.hash="no-back-button";}
        surveyLink = "<%=surveyLink%>";
        login_times = "<%= @student.login_times%>";
        survey_done = <%= @student.survey_done%>;
        $('#emailCheck').prop('checked', true);
        var email = "<%= @student.email%>";
        if(email!=""){
            $('#email').val(email);
        }


        function sendMail() {
            $('#emailgroup').removeClass('has-error');
            $('#emailgroup').removeClass('has-success');
            $('#submit').removeClass('btn-danger');
            $('#submit').removeClass('btn-success');

            if ($('#email').is(':valid') && $('#email').val() != '') {
                $.ajax({url: '<%= user_group_student_path(@student.group.user,@student.group,@student, format: :text)%>' + '?email=' + $('#email').val()+  '/' + $('#emailCheck').prop( "checked" )});
                $('#submit').addClass('btn-success');
                $('#emailgroup').addClass('has-success');
                if(!$('#emailCheck').prop( "checked" )){
                    $('#email').val("")
                }
            }
            else {
                $('#submit').addClass('btn-danger');
                $('#emailgroup').addClass('has-error');
            }
        }

        $(document).ready(function(){
            setTimeout(function(){
                $('#alert').remove();
            }, 5000);
        });

        //Override the default confirm dialog by rails
        $.rails.allowAction = function(link){
            if (link.data("confirm") == undefined){
                return true;
            }
            $.rails.showConfirmationDialog(link);
            return false;
        };
        //User click confirm button
        $.rails.confirmed = function(link){
            link.data("confirm", null);
            link.trigger("click.rails");
            $('#logOutButton').click();

        };
        localStorage.setItem("logout",false);
        //Display the confirmation dialog
        $.rails.showConfirmationDialog = function(link){
            $('#testModal').modal('show');
            $('#modalContent').html("Hast du Zeit und Lust uns noch zehn kurze Multiple-Choice Fragen zu beantworten?");
            $('#confirmButton').on('click',(function(){
                localStorage.setItem("logout", true);
                window.location.replace(surveyLink);
            }));
            $('#unconfirmButton').on('click',(function(){
                $.rails.confirmed(link);
                $('#testModal').modal('hide');

            }));
        };

        if(login_times>1&&!survey_done&&localStorage.getItem("reminderSeen")=="false"){
            localStorage.removeItem("reminderSeen");
            $('#testModal').modal('show');
            $('#modalContent').html("Hast du Zeit und Lust uns zehn kurze Multiple-Choice Fragen zu beantworten?");
            $('#confirmButton').on('click',(function(){
                $('#testModal').modal('hide');
                window.location.replace(surveyLink);

            }));
            $('#unconfirmButton').on('click',(function(){
                $('#testModal').modal('hide');
                return false;

            }));
        }


    </script>