<%survey = Test.where(name:"BFI")%>
<div class="container" style="width: auto; height: auto">
  <% content_for :top do%>
      <div class="container-fluid">
        <div>
          <p class="myP" style="float: left"><b>Angemeldet als: <%= @student.login %></b></p>
          <div align="right" style="padding-right: 15px">
            <form class="form-group" method="post" action="<%=url_for(:controller => "frontend", :action => "logout")%>">
              <%if @student.survey_done=="true"%>
              <%else%>
                  <%puts(@assessments.where(group_id:@student.group, test_id:survey).order(created_at: :desc).first.id)%>
                  <%= link_to url_for(controller: 'frontend', action: 'start', id: @assessments.where(group_id:@student.group, test_id:survey).order(created_at: :desc).first.id), class:"btn survey btnSpace" do%>Umfrage<% end %>
              <%end%>
              <%= link_to 'Feedback', new_user_group_feedback_path(@user, @group), class:"btn btn-primary btnSpace"%>
              <%= token_tag nil %>
              <button type="submit" class="btn btn-warning btnSpace">Abmelden</button>
            </form>
          </div>
        </div>
        <div>
          <form class="navbar-form navbar-left">
            <p class = "form-group">Anmeldecode per E-mail zusenden:</p>
            <div id="emailgroup" class="form-group">
              <input id="email" type="email" class="myInput" placeholder="E-Mail Adresse">
            </div>
            <input type="checkbox" class="form-check-input" id="emailCheck">
            <label class="form-check-label" for="exampleCheck1">E-Mail speichern</label>
            <button id="submit" type="submit" class="btn btn-default"  onclick="sendMail();return false;">Absenden</button>
          </form>
        </div>
      </div>
  <% end %>

  <div>
    <h1>Die folgenden Tests stehen für dich zur Verfügung:</h1>
    <div>
      <% count = 0 %>
      <% tests = @assessments.where.not(group_id:@student.group, test_id:survey)%>
      <% if !tests.nil?%>
          <% assessment_size = tests.size%>
      <%else %>
          <%assessment_size=0%>
      <%end%>
      <div class="row">
        <div class="col-lg-11">
          <div class="row">
            <%while count < assessment_size%>
                <% if(count<3)%>
                    <div class='col-lg-3 col-md-4 col-lg-offset-1' style="text-align: center;">
                      <div class="myP" >
                        <%= link_to url_for(controller: 'frontend', action: 'start', id: tests[count].id) do%><img class="myImg" src=<%= tests[count].test.picture%>><% end %>
                        <br/>
                        <%= tests[count].test.name %>
                      </div>
                    </div>
                <%else%>
                    <div class='col-lg-3 col-md-4 col-lg-offset-1 secondColumn'>
                      <div class="myP">
                        <%= link_to url_for(controller: 'frontend', action: 'start', id: tests[count].id) do%><img class="myImg" src=<%= tests[count].test.picture%>><% end %>
                        <br/>
                        <%= tests[count].test.name %>
                        <br/>
                      </div>
                    </div>
                <%end%>
                <% count = count + 1%>
            <%end%>
          </div>
        </div>
    </div>
  </div>
</div>

    <script>
        //possible Hack
        //=> Alternative: from login (welcome-view) until frontend Indexpage with window.location.replace();
        window.location.hash="no-back-button";
        window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
        window.onhashchange=function(){window.location.hash="no-back-button";}

        var email = "<%= @student.email%>";
        if(email!=""){
            $('#email').val(email);
        }


        function sendMail() {
            $('#emailgroup').removeClass('has-error');
            $('#emailgroup').removeClass('has-success');
            $('#submit').removeClass('btn-danger');
            $('#submit').removeClass('btn-success');

            if ($('#email').is(':valid') && $('#email').val() != '') {
                $.ajax({url: '<%= user_group_student_path(@student.group.user,@student.group,@student, format: :text)%>' + '?email=' + $('#email').val()+  '/' + $('#emailCheck').prop( "checked" )});
                $('#submit').addClass('btn-success');
                $('#emailgroup').addClass('has-success');
                if(!$('#emailCheck').prop( "checked" )){
                    $('#email').val("")
                }
            }
            else {
                $('#submit').addClass('btn-danger');
                $('#emailgroup').addClass('has-error');
            }
        }

        $(document).ready(function(){
            setTimeout(function(){
                $('#alert').remove();
            }, 5000);
        })


    </script>