<style>
  @media
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 991px)  {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      text-align: center;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  }

</style>
<div class="container" style="width: auto; height: auto">
<% content_for :top do%>
    <div class="container-fluid">
      <div>
        <p class="myP" style="float: left"><b>Angemeldet als: <%= @student.login %></b></p>
        <div align="right" style="padding-right: 15px">
          <form class="form-group" method="post" action="<%=url_for(:controller => "frontend", :action => "logout")%>">
            <%= link_to 'Feedback', new_user_group_feedback_path(@user, @group), class:"btn btn-primary", style:"margin-right:40px;"%>
            <%= token_tag nil %>
            <button type="submit" class="btn btn-primary">Abmelden</button>
          </form>
        </div>
      </div>
      <div>
        <form class="navbar-form navbar-left">
          <p class = "form-group">Anmeldecode per E-mail zusenden:</p>
          <div id="emailgroup" class="form-group">
            <input id="email" type="email" class="myInput" placeholder="E-Mail Adresse">
          </div>
          <input type="checkbox" class="form-check-input" id="emailCheck">
          <label class="form-check-label" for="exampleCheck1">E-Mail speichern</label>
          <button id="submit" type="submit" class="btn btn-default"  onclick="sendMail();return false;">Absenden</button>
        </form>
      </div>
    </div>
<% end %>

<% ranking_info =@student.get_data_ranking() %>
<% points = ranking_info.pluck(:points).uniq%>
<div class="container" style="width: auto;">
    <table>
      <% points.each do |p|%>
          <tr>
            <td style="padding-left: 1px;" class="tdQuestion">
              <%=p%> Fragen richtig beantwortet:&nbsp;
            </td>
            <%count=0%>
            <%if @student.points==p%>
                <td><b>--><%=@student.name%><--</b>, </td>
            <%end%>
            <%ranking_info.where(points: p).each_with_index do |s, i|%>
                <%if s==@student%>
                <%elsif(count<5)%>
                    <%nextStudent = ranking_info.where(points: p)[i+1]%>
                    <%if nextStudent.nil? || count==4%>
                        <td>&nbsp;<%= s.name%>&nbsp;</td>
                        <%count = count+1%>
                    <%else%>
                        <td>&nbsp;<%= s.name%>, </td>
                        <%count = count+1%>
                    <%end%>
                <%end%>
            <%end%>
          </tr>
      <%end%>
    </table>
</div>
<div>
  <h1>Die folgenden Tests stehen für dich zur Verfügung:</h1>
  <div>
    <% count = 0 %>
    <% if !@assessments.nil?%>
        <% assessment_size = @assessments.size%>
    <%else %>
        <%assessment_size=0%>
    <%end%>
    <div class="row">
      <div class="col-lg-11">
        <div class="row">
          <%while count < assessment_size%>
              <% if(count<3)%>
                  <div class='col-lg-3 col-md-4 col-lg-offset-1' style="text-align: center;background-color:lavender">
                    <div class="myP" >
                      <%= link_to url_for(controller: 'frontend', action: 'start', id: @assessments[count].id) do%><img class="myImg" src=<%= @assessments[count].test.picture%>><% end %>
                      <br/>
                      <%= @assessments[count].test.name %>
                    </div>
                  </div>
              <%else%>
                  <div class='col-lg-3 col-md-4 col-lg-offset-1 secondColumn'>
                    <div class="myP">
                      <%= link_to url_for(controller: 'frontend', action: 'start', id: @assessments[count].id) do%><img class="myImg" src=<%= @assessments[count].test.picture%>><% end %>
                      <br/>
                      <%= @assessments[count].test.name %>
                      <br/>
                    </div>
                  </div>
              <%end%>
              <% count = count + 1%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  <script>
      //possible Hack
      //=> Alternative: from login (welcome-view) until frontend Indexpage with window.location.replace();
      window.location.hash="no-back-button";
      window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
      window.onhashchange=function(){window.location.hash="no-back-button";}

      $(document).ready(function(){
          setTimeout(function(){
              $('#alert').remove();
          }, 5000);
      });

      function sendMail() {
          $('#emailgroup').removeClass('has-error');
          $('#emailgroup').removeClass('has-success');
          $('#submit').removeClass('btn-danger');
          $('#submit').removeClass('btn-success');
          if ($('#email').is(':valid') && $('#email').val() != '') {
              $.ajax({url: '<%= user_group_student_path(@student.group.user,@student.group,@student, format: :text)%>' + '?email=' + $('#email').val()+  '/' + $('#emailCheck').prop( "checked" )});
              $('#submit').addClass('btn-success');
              $('#emailgroup').addClass('has-success');
              if(!$('#emailCheck').prop( "checked" )){
                  $('#email').val("")
              }


          }
          else {
              $('#submit').addClass('btn-danger');
              $('#emailgroup').addClass('has-error');
          }
      }
  </script>