<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/scss" href=<%= stylesheet_path "myStyle.css"%>/>
</head>

<div class="container-fluid">
  <div id="content">
    <div id="alert">
      <% unless notice.blank? %>
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p id="notice"><%= notice %></p>
          </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
</div>
<body>

<% content_for :top do%>
    <div class="container-fluid">
      <p class = "navbar-text" style="font-size: 2.2rem;">Angemeldet als: <%= @student.login %></p>
      <div>
        <form class="navbar-form navbar-left">
          <div class = "form-group" style="font-size: 2.2rem;">Anmeldecode per E-mail zusenden:</div>
          <div id="emailgroup" class="form-group">
            <input id="email" type="email" class="form-control" placeholder="E-Mail Adresse" style=" font-size: 2.2rem; height: 4.4rem;">
          </div>
          <input type="checkbox" class="form-check-input" id="emailCheck">
          <label class="form-check-label" for="exampleCheck1">E-Mail speichern</label>
          <button id="submit" type="submit" class="btn btn-default" style="font-size: 2.2rem;" onclick="sendMail();return false;">Absenden</button>
        </form>
      </div>
      <div class = "navbar-right" style="padding-right: 15px">
        <form class="navbar-form" method="post" action="<%=url_for(:controller => "frontend", :action => "logout")%>">
          <%= token_tag nil %>
          <button type="submit" class="btn btn-lg btn-info" style="font-size: 2.2rem;">Abmelden</button>
        </form>
      </div>
      <div class = "navbar-right" style="padding-right: 15px">
        <form class="navbar-form">
          <%= link_to 'Feedback', new_user_group_feedback_path(@user, @group), class:"btn btn-lg btn-info", style:"font-size: 2.2rem;"%>
        </form>
      </div>
    </div>
<% end %>

<% ranking_info =@student.get_data_ranking() %>
<% points = ranking_info.pluck(:points).uniq%>
<div class="container" style="width: auto;">
    <table style="border:1px solid black ; font-size: 1.2em; margin-left: 1px; margin-right: 1px; width: auto">
      <% points.each do |p|%>
          <tr>
            <td style="padding-left: 1px; text-align: right">
              <%=p%> Fragen richtig beantwortet:&nbsp;
            </td>
            <%count=0%>
            <%if @student.points==p%>
                <td><b><--<%=@student.name%>-->, </b></td>
            <%end%>
            <%ranking_info.where(points: p).each_with_index do |s, i|%>
                <%if(count<7)%>
                    <%nextStudent = ranking_info.where(points: p)[i+1]%>
                    <%if nextStudent.nil? || count==6%>
                        <td>&nbsp;<%= s.name%>&nbsp;</td>
                        <%count = count+1%>
                    <%else%>
                        <td>&nbsp;<%= s.name%>, </td>
                        <%count = count+1%>
                    <%end%>
                <%end%>
            <%end%>
          </tr>
      <%end%>
    </table>
</div>
<br/>
<div>
  <h1 style="font-family: fibel_nordregular;">Die folgenden Tests stehen für dich zur Verfügung:</h1>
  <br/>
  <div>
    <% count = 0 %>
    <% if !@assessments.nil?%>
        <% assessment_size = @assessments.size%>
    <%else %>
        <%assessment_size=0%>
    <%end%>
    <%while count < assessment_size%>
        <% if(count % 3 == 0)%>
            <div class="row">
              <div class="col-lg-11">
                <div class="row">
                  <div class='col-lg-3 col-md-offset-1' style="text-align: center;background-color:lavender">
                    <p style="font-size: 2.2rem;text-align: center" >
                      <%= link_to url_for(controller: 'frontend', action: 'start', id: @assessments[count].id) do%><img width="150vw" src=<%= @assessments[count].test.picture%>><% end %>
                      <br/>
                      <%= @assessments[count].test.name %>
                    </p>
                  </div>
        <%elsif count % 3 == 2%>
            <div class='col-lg-3 col-md-offset-1' style="text-align: center;background-color:lavender">
              <p style="font-size: 2.2rem;text-align: center" >
                <%= link_to url_for(controller: 'frontend', action: 'start', id: @assessments[count].id) do%><img width="150vw" src=<%= @assessments[count].test.picture%>><% end %>
                <br/>
                <%= @assessments[count].test.name %>
              </p>
            </div>
            </div>
            </div>
            </div>
            <br/>
        <%else%>
            <div class='col-lg-3 col-md-offset-1' style="text-align: center;background-color:lavender">
              <p style="font-size: 2.2rem;text-align: center" >
                <%= link_to url_for(controller: 'frontend', action: 'start', id: @assessments[count].id) do%><img width="150vw" src=<%= @assessments[count].test.picture%>><% end %>
                <br/>
                <%= @assessments[count].test.name %>
                <br/>
              </p>
            </div>
        <%end%>
        <% count = count + 1%>
    <%end%>
    <%if !(assessment_size % 3 == 0)%>
        </div>
    <% end%>
    </div>
</body>
</html>

  <script>
      //possible Hack
      //=> Alternative: from login (welcome-view) until frontend Indexpage with window.location.replace();
      window.location.hash="no-back-button";
      window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
      window.onhashchange=function(){window.location.hash="no-back-button";}

      $(document).ready(function(){
          setTimeout(function(){
              $('#alert').remove();
          }, 5000);
      })

      function sendMail() {
          $('#emailgroup').removeClass('has-error');
          $('#emailgroup').removeClass('has-success');
          $('#submit').removeClass('btn-danger');
          $('#submit').removeClass('btn-success');
          if ($('#email').is(':valid') && $('#email').val() != '') {
              $.ajax({url: '<%= user_group_student_path(@student.group.user,@student.group,@student, format: :text)%>' + '?email=' + $('#email').val()+  '/' + $('#emailCheck').prop( "checked" )});
              $('#submit').addClass('btn-success');
              $('#emailgroup').addClass('has-success');
              if(!$('#emailCheck').prop( "checked" )){
                  $('#email').val("")
              }


          }
          else {
              $('#submit').addClass('btn-danger');
              $('#emailgroup').addClass('has-error');
          }
      }
  </script>