<div class="jumbotron">
  <h1>Probename  </h1>
  <br/>
  <!--field for logincode-->
  <%= form_tag(url_for(:controller => 'frontend', :action => 'login'), :class => "form") do %>
      <p>
        Gebe hier bitte deinen Zugangscode ein:
      </p>
      <div class="form-group">
        <label class="sr-only" for="login">Code</label>
        <%= text_field_tag "login", nil, type: "text",:autocomplete => :off , class: "form-control", placeholder: "Zugangscode"%>
      </div>
      <%= hidden_field_tag :fingerprint, "" %>
      <%= hidden_field_tag :ip, "" %>
      <%= submit_tag 'Anmelden', :class => "btn btn-primary" %>
  <% end %>
  <br/>
</div>

<script>
  $.getJSON('//api.ipify.org?format=jsonp&callback=?', function(data) {
      $('#ip').val(JSON.stringify(data["ip"], null, 2))
  });
  var fingerprint = new Fingerprint().get();
  $('#fingerprint').val(fingerprint);
  //#alert("Total Width: " + screen.width + "px\n"+"Total Height: " + screen.height + "px")
</script>
