<!--
Loginseite f+ür die Probanden anzeigen
-->
<div class="jumbotron">
  <h1>Quizmos</h1>
  <br/>
  <!--field for logincode-->
  <%= form_tag(url_for(:controller => 'frontend', :action => 'login'), :class => "form") do %>
      <p>
        Gib hier bitte deinen Zugangscode ein:
      </p>
      <!--Geheim Ip und Browserhash abfangen-->
      <div class="form-group">
        <label class="sr-only" for="login">Code</label>
        <%= text_field_tag "login", nil, type: "text",:autocomplete => :off , class: "form-control", placeholder: "Zugangscode"%>
      </div>
      <%= hidden_field_tag :fingerprint, "" %>
      <%= hidden_field_tag :ip, "" %>
      <%= submit_tag 'Anmelden', :class => "btn btn-primary" %>
  <% end %>
  <br/>
</div>

<script>
    //reminder bzgl Bfi gesehen zurücksetzen
    localStorage.setItem("reminderSeen", false);
    //erhalten der IP und des Browserhash
    $(document).ready(function () {
        $.getJSON('https://ipapi.co/json/', function(data) {
            $('#ip').val(data.ip)
        });
        var fingerprint = new Fingerprint().get();
        $('#fingerprint').val(fingerprint);
    });

</script>
