<% if @student.errors.any? %>
    <div class="alert alert-danger">
      <% @student.errors.full_messages.each do |message| %>
          <%= message %><br/>
      <% end %>
    </div>
<% end %>

<%= form_for([@user, @group, @student], :html => {:class => "form"}, :data => {:remote => true}) do |f| %>

  <div class="row">
    <div class="col-xs-4">
      <% if @student.errors[:name].any? %>
          <div class="form-group has-error">
      <% else %>
          <div class="form-group">
      <% end %>
      <%= f.label :name, :class => "control-label" %>
      <%= f.text_field :name, :class => "form-control input-sm", "aria-describedby" => "helpBlockN" %>
      <span id="helpBlockN" class="help-block">Bitte nicht den vollst채ndigen Namen verwenden!</span>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group">
        <%= f.label :gender, :class => "control-label" %>
        <%= f.select(:gender, options_for_select([['', nil], ['m채nnlich', true], ['weiblich', false]], @student.gender), {}, {:class => "form-control input-sm"}) %>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
          <%= f.submit :class => "btn btn-primary" %>

          <%= link_to "Abbrechen", '#', :class => "btn btn-default", :onclick => "cancelForm()"%>
        </div>
    </div>
  </div>

<% end %>

<script>
    function cancelForm() {
        $('#studentForm').html("<%= escape_javascript(raw(link_to "Sch체ler/-in hinzuf체gen", new_user_group_student_path(@user, @group), :class => "btn btn-default", :data => {:remote => true})) %>");
    }
</script>