<p class="lead text-right">
  <%= link_to user_group_students_path(@user, @group, :format => :pdf), :title => "Zugangsdaten der Klasse", :target => "blank" do %>
      <span class="glyphicon glyphicon-print"></span>
  <% end %>
</p>
<div>
  <table class="table table-striped">
    <thead>
    <th>

    </th>
    <th>
      Probanden insgesamt
    </th>
    <th>
      Probanden in Kontrollgruppe
    </th>
    <th>
      Probanden in Gruppe 1
    </th>
    <th>
      Probanden in Gruppe 2
    </th>
    <th>
      Probanden in Gruppe 3
    </th>
    <th>
      Probanden in Gruppe 4
    </th>
    <th>
      Probanden in Gruppe 5
    </th>
    </thead>
    <tbody>
    <tr>
      <td>Numerisch</td>
      <td>
        <%= @group.students.size%>
      </td>
      <td>
        <%= @group.students.where(group_type: 0).size%>
      </td>
      <td>
        <%= @group.students.where(group_type: 1).size%>
      </td>
      <td>
        <%= @group.students.where(group_type: 2).size%>
      </td>
      <td>
        <%= @group.students.where(group_type: 3).size%>
      </td>
      <td>
        <%= @group.students.where(group_type: 4).size%>
      </td>
      <td>
        <%= @group.students.where(group_type: 5).size%>
      </td>
    </tr>
    <tr>
      <td>Prozentual (in %)</td>
      <td>
        <%= @group.students.size.to_f/@group.students.size.to_f%>
      </td>
      <td>
        <%= (@group.students.where(group_type: 0).size.to_f/@group.students.size.to_f).round(3)%>
      </td>
      <td>
        <%= (@group.students.where(group_type: 1).size.to_f/@group.students.size.to_f).round(3)%>
      </td>
      <td>
        <%= (@group.students.where(group_type: 2).size.to_f/@group.students.size.to_f).round(3)%>
      </td>
      <td>
        <%= (@group.students.where(group_type: 3).size.to_f/@group.students.size.to_f).round(3)%>
      </td>
      <td>
        <%= (@group.students.where(group_type: 4).size.to_f/@group.students.size.to_f).round(3)%>
      </td>
      <td>
        <%= (@group.students.where(group_type: 5).size.to_f/@group.students.size.to_f).round(3)%>
      </td>
    </tr>
    </tbody>
  </table>







</div>
<br/>
<table class="table table-striped">
  <thead>
  <th>
    Nutzer
  </th>
  <th>
    Login-Code
  </th>
  <th>
    Probandengruppe
  </th>
  <th>
    Geschlecht
  </th>

  <th>
    Insgesamte Messungen
  </th>
  <th>
    Aktion
  </th>
  </thead>
  <tbody>
  <% @group.students.sort_by { |a| a.id}.each do |student| %>
      <tr>
        <td>
          <%= student.id %>
        </td>
        <td>
          <%= student.login %>
        </td>
        <td>
          <%= student.group_type %>
        </td>
        <td>
          <%= raw(student.get_gender) %>
        </td>
        <td>
          <%= link_to user_group_student_path(@user, @group, student), :data => {:remote => true} do %>
            <%= (student.results.map{|x| x.score} - [nil]).size %>
          <% end %>
        </td>
        <td>
            <%= link_to edit_user_group_student_path(@user, @group, student), :data => {:remote => true} do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to user_group_student_path(@user, @group, student), :method => :delete, :data => {:remote => true, :confirm => "Sind Sie sicher?"} do %>
                <span class="glyphicon glyphicon-trash"></span>
            <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div id="studentForm">
  <%= link_to "Schüler/-in hinzufügen", new_user_group_student_path(@user, @group), :class => "btn btn-default", :data => {:remote => true} %>
</div>
