
<p class="lead text-right">
  <span class="glyphicon glyphicon-envelope" onclick="notifyAll();return false;" title="Rundmail"></span>
</p>
<div>
  <div class="alert alert-warning">
    <p>Achtung: Es werden nur bis zu sechs verschiedene Versuchsbedingungen unterstützt!</p>
  </div>
</div>
<!--Initialisieren der Daten, welche zum Auswerten benötigt werden
Anzahl Probanden (insgesamt und pro Versuchsbedingung)
Anzahl richtig beantwortert Fragen (insgesamt und pro Versuchsbedingung)
Anzahl der gesehenen Fragen (insgesamt und pro Versuchsbedingung)
-->

<%  #initialisieren
    students = @group.students
    groupsize = students.size
    fakegroupsize = 0
    controllgroupsize = 0
    testgroup1Size = 0
    testgroup2Size = 0
    testgroup3Size = 0
    testgroup4Size = 0
    testgroup5Size = 0
    played_questioncontrollgroup = 0;
    correct_questioncontrollgroup = 0;
    played_question1 = 0;
    correct_question1 = 0;
    played_question2 = 0;
    correct_question2 = 0;
    played_question3 = 0;
    correct_question3 = 0;
    played_question4 = 0;
    correct_question4 = 0;
    played_question5 = 0;
    correct_question5 = 0;
  #gesehne + richtig beantwortete fragen für jede Versuchsbedingung
  students.each do |student|
    if(student.group_type==0)
      controllgroupsize = controllgroupsize +1
      played_questioncontrollgroup = played_questioncontrollgroup + student.played_questions
      correct_questioncontrollgroup = correct_questioncontrollgroup + student.points
    elsif(student.group_type==1)
      testgroup1Size = testgroup1Size + 1
      played_question1 = played_question1 + student.played_questions
      correct_question1 = correct_question1 + student.points
    elsif(student.group_type==2)
      testgroup2Size = testgroup2Size +1
      played_question2 = played_question2 + student.played_questions
      correct_question2 = correct_question2 + student.points
    elsif(student.group_type==3)
      testgroup3Size = testgroup3Size + 1
      played_question3 = played_question3 + student.played_questions
      correct_question3 = correct_question3 + student.points
    elsif(student.group_type==4)
      testgroup4Size = testgroup4Size + 1
      played_question4 = played_question4 + student.played_questions
      correct_question4 = correct_question4 + student.points
    elsif(student.group_type==5)
      testgroup5Size = testgroup5Size + 1
      played_question5 = played_question5 + student.played_questions
      correct_question5 = correct_question5 + student.points
    else
      fakegroupsize = fakegroupsize+1
    end
  end
%>
<!--Tabelle zum ersten Auswerten der Daten-->
<div>
  <table class="table table-striped">
    <thead>
    <th>

    </th>
    <th>
      Probanden insgesamt
    </th>
    <th>
      Probanden in Kontrollgruppe
    </th>
    <th>
      Probanden in Gruppe 1
    </th>
    <th>
      Probanden in Gruppe 2
    </th>
    <th>
      Probanden in Gruppe 3
    </th>
    <th>
      Probanden in Gruppe 4
    </th>
    <th>
      Probanden in Gruppe 5
    </th>
    </thead>
    <tbody>
    <tr>
      <td>Numerisch</td>
      <td>
        <%= groupsize - fakegroupsize%>
      </td>
      <td>
        <%= controllgroupsize%>
      </td>
      <td>
        <%= testgroup1Size%>
      </td>
      <td>
        <%= testgroup2Size%>
      </td>
      <td>
        <%= testgroup3Size%>
      </td>
      <td>
        <%= testgroup4Size%>
      </td>
      <td>
        <%= testgroup5Size%>
      </td>
    </tr>
    <tr>
      <td>Prozentual: Verteilung (in %)</td>
      <td>
        100
      </td>
      <td>
        <%= (controllgroupsize.to_f/(groupsize-fakegroupsize)).round(3)*100%>
      </td>
      <td>
        <%= (testgroup1Size.to_f/(groupsize-fakegroupsize)).round(3)*100%>
      </td>
      <td>
        <%= (testgroup2Size.to_f/(groupsize-fakegroupsize)).round(3)*100%>
      </td>
      <td>
        <%= (testgroup3Size.to_f/(groupsize-fakegroupsize)).round(3)*100%>
      </td>
      <td>
        <%= (testgroup4Size.to_f/(groupsize-fakegroupsize)).round(3)*100%>
      </td>
      <td>
        <%= (testgroup5Size.to_f/(groupsize-fakegroupsize)).round(3)*100%>
      </td>
    </tr>
    <tr style="  border-top:2px solid black;width:auto;">
      <td>Gesehene Fragen</td>
      <td>
        <%= played_questioncontrollgroup + played_question1+ played_question2+ played_question3+ played_question4+ played_question5%>
      </td>
      <td>
        <%= played_questioncontrollgroup%>
      </td>
      <td>
        <%= played_question1%>
      </td>
      <td>
        <%= played_question2%>
      </td>
      <td>
        <%= played_question3%>
      </td>
      <td>
        <%= played_question4%>
      </td>
      <td>
        <%= played_question5%>
      </td>
    </tr>
    <tr>
      <td>richtig beantwortete Fragen</td>
      <td>
        <%= correct_questioncontrollgroup+ correct_question1+correct_question2+correct_question3+correct_question4+correct_question5%>
      </td>
      <td>
        <%= correct_questioncontrollgroup%>
      </td>
      <td>
        <%= correct_question1%>
      </td>
      <td>
        <%= correct_question2%>
      </td>
      <td>
        <%= correct_question3%>
      </td>
      <td>
        <%= correct_question4%>
      </td>
      <td>
        <%= correct_question5%>
      </td>
    </tr>
    <tr>
      <td>Prozentual: Fragen (in %)</td>
      <td>
      </td>
      <td>
        <%if played_questioncontrollgroup == 0%>
            <%= (correct_questioncontrollgroup.to_f/1).round(3)*100%>
      <%else%>
        <%= (correct_questioncontrollgroup.to_f/played_questioncontrollgroup).round(3)*100%>
        <%end%>
      </td>
      <td>
        <%if played_question1==0%>
            <%= (correct_question1.to_f/1).round(3)*100%>
        <%else%>
            <%= (correct_question1.to_f/played_question1).round(3)*100%>
        <%end%>
      </td>
      <td>
        <%if played_question2==0%>
            <%= (correct_question2.to_f/1).round(3)*100%>
        <%else%>
            <%= (correct_question2.to_f/played_question2).round(3)*100%>
        <%end%>
      </td>
      <td>
        <%if played_question3==0%>
            <%= (correct_question3.to_f/1).round(3)*100%>
        <%else%>
            <%= (correct_question3.to_f/played_question3).round(3)*100%>
        <%end%>
      </td>
      <td>
        <%if played_question4==0%>
            <%= (correct_question4.to_f/1).round(3)*100%>
        <%else%>
            <%= (correct_question4.to_f/played_question4).round(3)*100%>
        <%end%>
      </td>
      <td>
        <%if played_question5==0%>
            <%= (correct_question5.to_f/1).round(3)*100%>
        <%else%>
            <%= (correct_question5.to_f/played_question5).round(3)*100%>
        <%end%>
      </td>
    </tr>
    </tbody>
  </table>







</div>
<br/>
<!--Tabelle um die daten der Probanden für eine Studie anzuzeigen-->
<table class="table table-striped">
  <thead>
  <th>
    Nutzer
  </th>
  <th>
    Login-Code
  </th>
  <th>
    Studien
  </th>
  <th>
    Gesehene Fragen
  </th>
  <th>
    richtig beantwortete Fragen
  </th>
  <th>
    Geschlecht
  </th>

  <th>
    Insgesamte Messungen
  </th>
  <th>
    Aktion
  </th>
  </thead>
  <tbody>
  <% students.sort_by { |a| a.id}.each do |student| %>
      <% if student.group_type == -1%>
      <%else%>
          <tr>
            <td>
              <%= student.id %>
            </td>
            <td>
              <%= student.login %>
            </td>
            <td>
              <%= student.group_type %>
            </td>
            <td>
              <%= student.played_questions %>
            </td>
            <td>
              <%= student.points %>
            </td>
            <td>
              <%= raw(student.get_gender) %>
            </td>
            <td>
              <%= link_to user_group_student_path(@user, @group, student), :data => {:remote => true} do %>
                  <%= (student.results.map{|x| x.score} - [nil]).size %>
              <% end %>
            </td>
            <td>
              <%= link_to user_group_student_path(@user, @group, student), :method => :delete, :data => {:remote => true, :confirm => "Sind Sie sicher?"} do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          </tr>
      <%end%>
  <% end %>
  </tbody>
</table>

<script>
  //Rundmail an alle Probanden der Studie zusenden
  function notifyAll() {
      $.ajax({url: '<%= user_group_students_path(@user,@group, @students, format: :text)%>' + '?email=allInGroup' });
      alert("E-Mails wurden versandt.")
  }
</script>