<%
  question = item.itemtext.split("{")[0]
  alternatives = item.itemtext.split("{")[1].split("}")[0].split(",")
%>
<div class="row" style="margin-right: 15px">
  <button style='font-family: fibel_nordregular; float: right; font-size:40px' id="closeTest" class="btn btn-warning" onclick="interruptMeasurement()"><strong>Test beenden</strong></button>
</div>
<br/>
<br/>
<div class='row text-center'>
  <div>
    <label class='control-label' style='font-size: 60px; font-family: fibel_nordregular;'><%= question %>&nbsp</label>
  </div>
</div>
<br><br>
<div class='row' id='rowButtons2' >
  <div class="col-lg-7 col-md-offset-3">
    <div class='col-lg-4 col-lg-offset-0' >
      <div class ='row'>
        <button id='button0' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('<%= alternatives[0] %>')"><%= alternatives[0] %></button>
      </div>
    </div>
    <div class='col-lg-4 col-lg-offset-2' >
      <div class ='row'>
        <button id='button1' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('<%= alternatives[1] %>')"><%= alternatives[1] %></button>
      </div>
    </div>
  </div>
</div>
<br/>
<div class='row' id='rowButtons2' >
  <div class="col-lg-7 col-md-offset-3">
    <div class='col-lg-4 col-lg-offset-0' >
      <div class ='row'>
        <button id='button2' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('<%= alternatives[2] %>')"><%= alternatives[2] %></button>
      </div>
    </div>
    <div class='col-lg-4 col-lg-offset-2' >
      <div class ='row'>
        <button id='button3' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('<%= alternatives[3] %>')"><%= alternatives[3] %></button>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>


<script>

  function nextClicked(answer) {
      if(answer=='<%= item.shorthand%>'){
          score = score +1;
          currentResult = currentResult + '1,';
          <%
          @student.achievement["1"][0] = true
          @student.save
          %>
      }
      else {
          currentResult = currentResult + '0,';
      };
      currentTimes = currentTimes + (new Date() - stopwatch) + ',';
      stopwatch = new Date();
      nextItem();
  };

  function interruptMeasurement () {
      stopTest();
      $(window).unbind('keyup');
      window.location.replace(pathMainPage);
  }
  //F5 abschalten <- kein aktualisieren möglich
  $(window).keydown(function (event) {
      var key = event.charCode || event.keyCode;
      if (key == 116) {
          event.preventDefault();
      }});
</script>