<%
  question = item.itemtext.split("{")[0]
  alternatives = item.itemtext.split("{")[1].split("}")[0].split(",")
%>
<div class="row" style="margin-right: 15px">
  <button style='font-family: fibel_nordregular; float: right; font-size:40px' id="closeTest" class="btn btn-warning" onclick="interruptMeasurement()"><strong>Test beenden</strong></button>
</div>
<br/>
<div class='row text-center'>
  <div>
    <label id="question" class='control-label' style='font-size: 60px; font-family: fibel_nordregular;'><%= question %>&nbsp</label>
  </div>
</div>
<br><br>
<div class='row' id='rowButtons1' >
  <div class="col-lg-7 col-md-offset-3">
    <div class='col-lg-4 col-lg-offset-0' >
      <div class ='row'>
        <button id='button0' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('<%= alternatives[0] %>','#button0')"><%= alternatives[0] %></button>
      </div>
    </div>
    <div class='col-lg-4 col-lg-offset-2' >
      <div class ='row'>
        <button id='button1' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('<%= alternatives[1] %>', '#button1')"><%= alternatives[1] %></button>
      </div>
    </div>
  </div>
</div>
<br/>
<div class='row' id='rowButtons2' >
  <div class="col-lg-7 col-md-offset-3">
    <div class='col-lg-4 col-lg-offset-0' >
      <div class ='row'>
        <button id='button2' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('<%= alternatives[2] %>', '#button2')"><%= alternatives[2] %></button>
      </div>
    </div>
    <div class='col-lg-4 col-lg-offset-2' >
      <div class ='row'>
        <button id='button3' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('<%= alternatives[3] %>', '#button3')"><%= alternatives[3] %></button>
      </div>
    </div>
  </div>
</div>
<br/>
<div class='row' id='rowButtons3' >
  <div class="col-lg-7 col-md-offset-3">
    <div class='col-lg-3 col-lg-offset-0' >
    </div>
    <div class='col-lg-4 col-lg-offset-0' >
      <div class ='row'>
        <button id='buttonCon' style='font-size: 60px; font-family: fibel_nordregular; visibility: hidden' type='button' class='btn btn-info btn-block' onclick="nextItem()">Nächste Frage</button>
      </div>
    </div>
    <div class='col-lg-3 col-lg-offset-2' >
    </div>
  </div>
</div>
<br/>
<br/>
<br/>


<script>
  var toggle = false;

  function nextClicked(answer, buttonId) {
      if(!toggle){
          if(answer=='<%= item.shorthand%>'){

              score = score +1;
              currentResult = currentResult + '1,';
              if(groupNumber == "2"||groupNumber == "4"){
                  checkFirstAndCorrectness();
              }
              if(groupNumber == "1"||groupNumber == "4" ||groupNumber == "5" ){
                  giveFeedback(true, buttonId);
              }
          }
          else {

              currentResult = currentResult + '0,';

              if(groupNumber == "1"||groupNumber == "4" ||groupNumber == "5" ){
                  giveFeedback(false, buttonId);
              }

          }
          currentTimes = currentTimes + (new Date() - stopwatch) + ',';
          stopwatch = new Date();

          $('#buttonCon').css('visibility', 'visible');
      }
      toggle = true;
  };

  function interruptMeasurement () {
      if(!toggle){
          currentResult = currentResult + '0,';
      }
      stopTest();
      $(window).unbind('keyup');
  }
  //F5 abschalten <- kein aktualisieren möglich
  $(window).keydown(function (event) {
      var key = event.charCode || event.keyCode;
      if (key == 116) {
          event.preventDefault();
      }});


  if(groupNumber == "2"||groupNumber == "4"){
      checkBadges()
  }

  function giveFeedback(answeredCorrect, buttonId) {
      if(answeredCorrect){
          $(buttonId).removeClass('btn-default');
          $(buttonId).addClass('btn-success');
      }
      else{
          $(buttonId).removeClass('btn-default');
          $(buttonId).addClass('btn-danger');
          if($('#button0').html() == '<%= item.shorthand%>') {
              $('#button0').removeClass('btn-default');
              $('#button0').addClass('btn-success');
          }
          else if($('#button1').html() == '<%= item.shorthand%>'){
              $('#button1').removeClass('btn-default');
              $('#button1').addClass('btn-success');
          }
          else if($('#button2').html() == '<%= item.shorthand%>'){
              $('#button2').removeClass('btn-default');
              $('#button2').addClass('btn-success');
          }
          else{
              $('#button3').removeClass('btn-default');
              $('#button3').addClass('btn-success');
          }
      }
  }

  function checkProgress(key, seenItemNumber) {
      var currentItemtext = "<%= raw item.itemtext%>";
      var toggle2 = true;
      for(i=0; i<oldItems.length;i++){
          if(currentItemtext==oldItems[i]){
              toggle2 = false;
          }
      }

      if(toggle2){
          oldItems.push(currentItemtext)
      }

      if(oldItems.length == seenItemNumber){
          showBadge(key);
          achievementHash[key][0] = "true";
          sendAchievements()
      }
  }

  function checkFirstAndCorrectness() {
      if(achievementHash["a7"][0]!= "true") {
          showBadge("a7");
          achievementHash["a7"][0] = "true";
          sendAchievements();
      }
      switch (testName) {
          case "Tiere&Pflanzen":
              if(achievementHash["a9"][0]!= "true") {
                  showBadge("a9");
                  achievementHash["a9"][0]= "true";
                  sendAchievements();
              }
              break;
          case "Geographie":
              specialQuest = $('#question').html();
              if(achievementHash["a18"][0]!= "true" && specialQuest=="Im Rahmen welches Ereignisses findet die Windjammerparade statt?" ) {
                  showBadge("a18");
                  achievementHash["a18"][0]= "true";
                  sendAchievements();
              }
              else if(achievementHash["a10"][0]!= "true") {
                  achievementHash["a10"][0]= "true";
                  sendAchievements();
              }
              break;
          case "Geschichts":
              break;
          case "Mathe":
              if(achievementHash["a19"][0]!= "true") {
                  showBadge("a19");
                  achievementHash["a19"][0]= "true";
                  sendAchievements();
              }
              break;
          case "Sport":
              if(achievementHash["a20"][0]!= "true") {
                  showBadge("a20");
                  achievementHash["a20"][0]= "true";
                  sendAchievements();
              }
              break;
          case "Politik":
              if(achievementHash["a29"][0]!= "true") {
                  showBadge("a29");
                  achievementHash["a29"][0]= "true";
                  sendAchievements();
              }
              break;
          default:
              if(achievementHash["a30"][0]!= "true") {
                  showBadge("a30");
                  achievementHash["a30"][0]= "true";
                  sendAchievements();
              }
              break;
      }

  }
</script>