<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: #FFFFFF">


<div id="testEnviroment">
</div>
<div id="myProgress" style="width: 100%;height: 90px; background-color: #dddd" >
  <div id="myBar" style="width: 0%; background-color: #4cae4c; height: 90px"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 2.2rem">Neues Abzeichen erhalten</h5>
      </div>
      <div class="modal-body" id="modalContent">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: 2.2rem">Schließen</button>
      </div>
    </div>
  </div>
</div>
</body>

<script>
    //possible Hack
    //setting anchor to page. Jump to anchor when backspace pressed
    window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
    window.onhashchange=function(){window.location.hash="no-back-button";};

    var pathMainPage = '<%= request.base_url + url_for(controller: 'frontend')%>';
    var currentItemIndex = -1;
    var currentStudent = -1;
    var score = 0;
    var played_questions = 0;
    currentStudent = <%=@result.id%>;
    var testName = "<%= raw @measurement.assessment.test.name%>";
    <% Item.where(test_id:@measurement.assessment.test.id)%>;

    var oldItems = [<% @result.getPriorResultsItem(@measurement, @student).each do |i|%>
                    "<%= raw i.itemtext %>",
                    <% end%>
    ];

    var achievementHash = {
    <% @student.achievement.each do |a| %>
    <%= a[0]%>: <%=raw a[1]%>,
    <% end %>
    };

    var groupNumber = "<%= @student.group_type%>";

    var studentData = {
        <%=@result.id%>: [
        <%@result.extra_data["intro"].each do |i|%>
        <%=i%>,
        <%end%>
        <%@result.items.each do |i| %>
        <%= i %>,
        <% end %>
        <%@result.extra_data["outro"].each do |i|%>
        <%=i%>,
        <%end%>
    ]};

    function checkBadges() {
        switch (testName) {
            case "Tiere&Pflanzen":
                if(achievementHash["a2"][0]!= "true") {
                    checkProgress("a2", 50);
                }
                if(achievementHash["a2"][0]== "true"&&achievementHash["a3"][0]!= "true") {
                    checkProgress("a3", 90);
                    checkAll();
                }
                break;
            case "Geographie":
                if(achievementHash["a5"][0]!= "true") {
                    checkProgress("a5", 50);
                }
                if(achievementHash["a5"][0]== "true"&&achievementHash["a6"][0]!= "true") {
                    checkProgress("a6", 90);
                    checkAll();
                }
                break;
            case "Geschichtstest":
                break;
            case "Mathe":
                if(achievementHash["a12"][0]!= "true") {
                    checkProgress("a12", 50);
                }
                if(achievementHash["a12"][0]== "true"&&achievementHash["a13"][0]!= "true") {
                    checkProgress("a13", 90);
                    checkAll();
                }
                break;
            case "Sport":
                if(achievementHash["a13"][0]!= "true") {
                    checkProgress("a13", 50);
                }
                if(achievementHash["a13"][0]== "true"&&achievementHash["a14"][0]!= "true") {
                    checkProgress("a14", 90);
                    checkAll();
                }
                break;
            case "Politik":
                if(achievementHash["a18"][0]!= "true") {
                    checkProgress("a18", 50);
                }
                if(achievementHash["a18"][0]== "true"&&achievementHash["a19"][0]!= "true") {
                    checkProgress("a19", 90);
                    checkAll();
                }
                break;
            default:
                if(achievementHash["a21"][0]!= "true") {
                    checkProgress("a21", 50);
                }
                if(achievementHash["a21"][0]== "true"&&achievementHash["a8"][0]!= "true") {
                    checkProgress("a22", 90);
                    checkAll();
                }
                break;
        }
    }
    
    function showBadge(key) {
        $("#modalContent").html("<div class='text-center' style='font-size: 2.2rem'><img src=" + achievementHash[key][2] + " style='width:40%'><br/>" + achievementHash[key][4]+ "</div>");
        $("#exampleModal").modal();
    }
    function checkAll() {
        if(achievementHash["a3"][0]== "true"&&achievementHash["a6"][0]== "true"&&achievementHash["a11"][0]== "true"
            &&achievementHash["a14"][0]== "true"&&achievementHash["a21"][0]== "true"&&achievementHash["a24"][0]== "true"
            &&achievementHash["a9"][0]== "true"&&achievementHash["a10"][0]== "true"&&achievementHash["a19"][0]== "true"
            &&achievementHash["a20"][0]== "true"&&achievementHash["a29"][0]== "true"&&achievementHash["a30"][0]== "true"){
            showBadge("a27");
            achievementHash["a27"][0] = "true";
            sendAchievements()
        }
    }



    function sendAchievements() {
        var test = {"student": {"achievement": achievementHash}};
        $.ajax({
            method: 'PUT',
            url: "<%= user_group_student_path(@student.group.user, @student.group, @student)%>",
            data: test,
        });
    }
</script>
</body>