<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag '/stylesheets/feedback_page.css', media: 'all', 'data-turbolinks-track' => true %>
</head>

<div class="container-fluid">
  <div id="content">
    <div class="jumbotron" style="padding-bottom: 10px">
      <%= form_for([@user, @group, @feedback]) do |f| %>
          <% if @feedback.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

                <ul>
                  <% @feedback.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="row">

          <div class="col-xs-2" style="width: 100%">
            <div class="form-group">
              <label for=:feedbacktext >Feedback:</label><br/>
              <%= f.text_area :feedbacktext , class:"form-control mytextfield", rows:15, maxlength:5000%>
            </div>
          </div>
          </div>


          <div class="actions">
            <%= link_to 'Zurück', frontend_path, class:"btn btn-lg btn-warning"%>

            <%= f.submit "Feedback abschicken",  class: "btn btn-lg btn-primary", data: { confirm: 'Feedback speichern?' }%>
          </div>
          <div>
          </div>
      <% end %>
    </div>

  </div>
</div>