<!--Form um einen Kommentar an den Studienleiter zu senden-->
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag '/stylesheets/feedback_page.css', media: 'all', 'data-turbolinks-track' => true %>
</head>

<div class="container-fluid">
  <div id="content">
    <div class="jumbotron" style="padding-bottom: 10px">
      <%= form_for([@user, @group, @feedback], :html => { :onsubmit => "return validateForm()"}) do |f| %>
          <!--Fehlerbehandlung-->
          <% if @feedback.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@feedback.errors.count, "error") %> Feedback wurde nicht gespeichert!</h2>
                <ul>
                  <% @feedback.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <!--Feld im dem der Kommentar geschrieben werden kann-->
          <div class="row">
          <div class="col-xs-2" style="width: 100%">
            <div class="form-group">
              <label for=:feedbacktext >Feedback:</label><br/>
              <%= f.text_area :feedbacktext , class:"form-control mytextfield", rows:15, maxlength:5000%>
            </div>
          </div>
          </div>


          <div class="actions">
            <%= link_to 'Zurück', frontend_path, class:"btn btn-lg btn-warning"%>

            <%= f.submit "Feedback abschicken", id:"submitButton",  class: "btn btn-lg btn-primary", data: {disable_with: false, confirm: 'Feedback speichern?' }%>
          </div>
          <div>
          </div>
      <% end %>
    </div>
  </div>
  <!--Anzeigen des Fehlers, wenn vorhanden-->
  <div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="font-size: 2.2rem">Fehlermeldung</h5>
        </div>
        <div class="modal-body" id="modalContent" style="font-size: 1.5em">
          Das Feedback darf nicht leer sein ;)
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: 2.2rem">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //Überprüfen ob das Textfeld leer ist und dann ggf. den fehler anzeigen
    function validateForm() {
        if ($('#feedback_feedbacktext').val().trim()=="") {
            $('#failModal').modal('show');
            return false;
        }
        else
            return true;
    }
</script>