<table class="table table-striped">
  <thead>
  <th>
    Testung am
  </th>
  <th>
    Anzahl der gelösten Items
  </th>
  <th></th>
  <th>
    Testung am
  </th>
  <th>
    Anzahl der gelösten Items
  </th>
  <th></th>
  <th>
    Testung am
  </th>
  <th>
    Anzahl der gelösten Items
  </th>
  <th></th>
  </thead>
  <tbody>
  <th>
    <% test = @assessment.measurements.sort_by { |a| a.date} %>
    <%count =0%>
    <%while count < test.size%>
      <tr>
        <td>
          <%= test[count].date.to_date.strftime("%d.%m.%Y") %>
        </td>

        <td>
          <% if test[count].real_results > 0 %>
            <%= test[count].average %>
          <% else %>
          --
          <% end %>
        </td>
        <td>
          <%= link_to user_group_assessment_measurement_path(@user, @group, @assessment, test[count]), :title => "Löschen", :method => :delete, :data => {:remote => true, :confirm => "Damit gehen alle Ergebnisse dieser Messung verloren!\n\nSind Sie sicher?"} do %>
              <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
        <%if count+1 <test.size%>
            <td>
              <%= test[count+1].date.to_date.strftime("%d.%m.%Y") %>
            </td>
            <td>
              <% if test[count+1].real_results > 0 %>
                  <%= test[count+1].average %>
              <% else %>
                  --
              <% end %>
            </td>
            <td>
              <%= link_to user_group_assessment_measurement_path(@user, @group, @assessment, test[count+1]), :title => "Löschen", :method => :delete, :data => {:remote => true, :confirm => "Damit gehen alle Ergebnisse dieser Messung verloren!\n\nSind Sie sicher?"} do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
        <%else%>
        <%end%>
        <%if count+2 <test.size%>
            <td>
              <%= test[count+2].date.to_date.strftime("%d.%m.%Y") %>
            </td>
            <td>
              <% if test[count+2].real_results > 0 %>
                  <%= test[count+2].average %>
              <% else %>
                  Kein Ergebnis gespeichert!
              <% end %>
            </td>
            <td>
              <%= link_to user_group_assessment_measurement_path(@user, @group, @assessment, test[count+2]), :title => "Löschen", :method => :delete, :data => {:remote => true, :confirm => "Damit gehen alle Ergebnisse dieser Messung verloren!\n\nSind Sie sicher?"} do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
        <%else%>
        <%end%>

      </tr>
  <% count = count +3 %>
  <% end %>
  </th>

  </tbody>
</table>
