<!--Anzeigen der Daten/Attribute für einen Test-->
<div id="t<%= test.id %>">
  <p class="lead">Beschreibung</p>
  <p>
    <%= raw(test.info) %>
  </p>
  <p class="lead">Testdurchführung</p>
  <p>
  <table class="table">
    <tr>
      <td>
        Länge des Tests
      </td>
      <td>
        <%= test.len_info %>
      </td>
    </tr>
    <tr>
      <td>
        Größe des Itempools
      </td>
      <td>
        <%= test.items.count %>
      </td>
    </tr>
  </table>
  </p>
  <!--Anzeigen der Items, welche zu dem test gehören-->
  <p class="lead">Items</p>
  <p>
    <% first = true %>
    <% test.items.where(:itemtype => 0).order(:shorthand).each do |i| %>
        <% unless first %>
            <%= "," %>
        <% end %>
        <% first = false %>
        <%= i.shorthand %>
    <% end %>
  </p>
</div>
