<!--Layout für Loginseite der Probanden-->
<!DOCTYPE html>
<html>
<head>
  <title>Quizmos</title>
  <!--CSS und JS einbinden externe Bibliotheken minifiziert von Rails-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body>

<!--Leere Navbar <- künstlich abstand schaffen-->
<nav class="navbar">
</nav>

<!--Element in dem die Seiten geladen werden-->
<div class="container-fluid">
  <div id="content">
    <!--Element zum anzeigen von Meldungen z.B. "Angemeldet als ...", Fehlermeldungen vom Server -->
    <div id="alert">
      <% unless notice.blank? %>
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p id="notice"><%= notice %></p>
          </div>
      <% end %>
    </div>

    <%= yield %>
  </div>
</div>

<!--Links für die Login-, About- und die Impressumseite der Probanden (Grund für eigenes Layout-->
<p class="lead text-center">
  <mark>
    <%= link_to "Anmelden", url_for(:controller => "frontend", :action => "welcome")%>
    -
    <%= link_to "Über Quizmos", url_for(:controller => "frontend", :action => "welcome", :page => "application/about")%>
    -
    <%= link_to "Impressum", url_for(:controller => "frontend", :action => "welcome", :page => "application/imprint")%>
  </mark>
</p>

<nav class="navbar">
</nav>

</body>
</html>

