<!--Layout mit weniger Elementen-->
<!DOCTYPE html>
<html>
<head>
  <title>Quizmos</title>
  <!--CSS und JS einbinden externe Bibliotheken minifiziert von Rails-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!--Platz für die Navigationsbar-->
<nav class="navbar">
  <%= yield :top %>
</nav>

<!--Element für die Inhalte der Seiten-->
<div class="container-fluid">
  <div id="content">
    <%= yield %>
  </div>
</div>
<!--Zusätzliche Navigationbar-->
<nav class="navbar">
</nav>

</body>
</html>

